:root{
    --background-laranja: #F78603;
    --texto-laranja: #FFB803;
    --roxo-escuro: #72368A;
    --roxo-claro: #8E44AD;
    --cinza: #C4C4C4;
    --preto:#333333;
    --branco:#ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    @media (max-width:1080px){
        font-size: 93.75%
    }
    @media (max-width:720px){
        font-size: 87.5%
    }
}
body {
    /* background: var(--background); */
    -webkit-font-smooth: antialiased;
}
body, input, textarea, button {
    font-family: sans-serif;
    font-weight: 400;
}
h1, h2, h3,h4, h5, h6, strong {
    font-weight: 600;
}
button {
    cursor: pointer;
}
[disabled]{
    opacity: 0.6;
    cursor: not-allowed;
}
